.more-action-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: var(--card-color, #fff);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100px;
}

.action-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #a8a5a5;
    font-size: 14px;
    transition: color 0.2s;

    &:hover {
        color: #007bff;
    }
}